.container{
    margin-top: 50px;
    width: 300px;
    height : 200px;
    background-color: #EAEAEA;
    border-radius: 10px;
    position: relative;
  }
.title{
    position: absolute;
    top : 10px;
    right: 10px;
    background-color: #02936F;
    color: white;
    border-radius: 50px;
    padding: 5px;
    margin-top: -23px;
}